<template>
  <div>
    <div>
      <p>{{text}}</p>
    </div>
    <div>
      <div v-for="(answer, index) in answersShuffled" :key="index">
        <input v-model="selected" type="radio" :name="number" :id="index" :value="answer">
        <label :for="index">{{answer}}</label>
      </div>
    </div>
    <div>
      <button @click="checkAnswer">Controlla</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "question",
  props: {
    text: {
      type: String,
      required: true
    },
    number: {
      type: [Number, String],
      required: true
    },
    answers: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      selected: null
    }
  },
  computed: {
    answersShuffled () {
      return [...this.answers].sort((a, b) => 0.5 - Math.random())
    }
  },
  methods: {
    isAnswerCorrect (answer) {
      return this.getCorrectAnswer() === answer;
    },
    getCorrectAnswer () {
      return this.answers[0]
    },
    checkAnswer () {
      const selectedAnswer = this.selected;

      if (!selectedAnswer) {
        alert("Devi selezionare una risposta.")
        return;
      }

      let message;
      let correct;
      if (this.isAnswerCorrect(selectedAnswer)) {
        correct = true;
        message = "Corretto";
      } else {
        correct = false;
        message = `Sbagliato. La risposta corretta era: \n "${this.getCorrectAnswer()}"`
      }
      this.$emit("answered", correct);
      alert(message)
    }
  }
}
</script>
