<template>
  <div>
    <question
      :text="question.text"
      :number="question.number"
      :answers="question.answers"
      @answered="onAnswered"
    />
  </div>
</template>

<script>
import questions from '~/static/questions.js'
import Question from '~/components/question.vue'

export default {
  name: 'Quiz',
  components: {
    Question
  },
  data () {
    return {
      question: {
        text: "",
        number: -1,
        answers: []
      }
    }
  },
  mounted () {
    this.setNewQuestion();
  },
  methods: {
    setNewQuestion () {
      const randomQuestion = this.pickRandomQuestion();
      this.selected = null;
      this.question.text = randomQuestion.text;
      this.question.number = randomQuestion.number;
      this.question.answers = randomQuestion.answers;
    },
    pickRandomQuestion () {
      return questions[Math.floor(Math.random() * questions.length)];
    },
    onAnswered (correct) {
      this.saveStatistics(this.question.number, correct)
      this.setNewQuestion()
    },
    saveStatistics (number, correct) {
      const itemKey = 'history';
      const currentHistory = JSON.parse(window.localStorage.getItem(itemKey)) || {};

      if (!currentHistory[number]) {
        currentHistory[number] = {
          answered: 0,
          correct: 0,
          wrong: 0
        }
      }

      currentHistory[number].answered++;
      if (correct) currentHistory[number].correct++;
      else currentHistory[number].wrong++;

      window.localStorage.setItem(itemKey, JSON.stringify(currentHistory))
    }
  }
}
</script>

