<template>
  <div>
    <ul>
      <li v-for="(statistic, number) in history" :key="number">
        {{number}}: {{statistic.correct}} corretta su {{statistic.answered}} tentativi
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data () {
    return {
      history: {

      }
    }
  },
  mounted () {
    this.history = JSON.parse(window.localStorage.getItem("history")) || {}
  }
}
</script>
